.App {
  text-align: left;
  padding: 50px;
  
}
.header{
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.main {
  display: flex;
  align-items: center;
}
.header-button{
  margin: 5px;
}

